.ordersList-box{
    width: 100%;
    height: 100%;
    background-color: rgb(34,34,34, 0.6);
    color: #fff; 
    box-sizing: border-box;
    padding: 30px 30px;
    text-align: left;
    display: block;
}

.new-order{
    border: none;
    outline: none;
    background: #3E0668 ;
    color: #fff;
    border-radius: 4px;
    width: 10%;
    height: 35px;
    font-size: 16px;
    cursor: pointer;
}

.button{
    border: none;
    outline: none;
    border-radius: 4px;
    background-size: cover;
    width: 40px;
    height: 20px;
    font-size: 16px;
    cursor: pointer;
}

.button-details{
    background:  url("../media/button_Details.png") no-repeat center top;
}


.button-edit{  
    background:  url("../media/button_Edit.png") no-repeat center top; 
}

.button-remove{
    background:  url("../media/button_Remove.png") no-repeat center top;
}

.table-bordered {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin: 1em 1em 1em 1em;
    caption-side: top;
 }