.productsList-box{
    width: 97%;
    height: 100%;
    background-color: rgb(34,34,34, 0.6);
    color: #fff; 
    position: relative;
    align-self: right;
    left: 2%;
    box-sizing: border-box;
    padding: 30px 30px;
    text-align: left;
    display: block;
}

.new-product{
    border: none;
    outline: none;
    background: #3E0668 ;
    color: #fff;
    border-radius: 4px;
    width: 10%;
    height: 35px;
    font-size: 16px;
    cursor: pointer;
}

thead tr{
    font-size: 18px;
    text-align: center;
}

tbody tr{
    text-align: center;
}

.table-bordered {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin: 1em 1em 1em 1em;
    caption-side: top;
 }